
.mainlogo {

}

#top {
  text-align:center;
}

.banner  {
    display:inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

.btn-calc {
    margin: 0px 0 20px 0;
}

#gamestyle {
    display:inline-block;
    margin:0 auto"
}

li {
    list-style: none;
}

.foot {
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}

.container {
    height: 300px;
}

.mainpage {
    text-align: center;
}

.quiz {
    margin-left: auto;
    margin-right: auto;
}
